/**
 * Beex Github
 * author: Telihai
 * link: http://www.telihai.com/archives/9002/
 * licence: MIT
 */

 body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
a{
    color: #0366d6;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
strong{
    font-weight: 600;
}

/* Button */
.btn{
    color: #24292e;
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn:hover{
    background-color: #f3f4f6;
    transition-duration: .1s;
    text-decoration: none;
}
.btn-primary{
    color: #fff;
    background-color: #2a8f47;
}
.btn-primary:hover{
    background-color: #2c974b;
}
.btn-primary .octicon{
    color: #fff !important;
}
.btn-with-count{
    background-color: #fafbfc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-count{
    background-color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

/* Others */
.octicon{
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}
.counter{
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #24292e;
    text-align: center;
    background-color: rgba(209,213,218,.5);
    border: 1px solid transparent;
    border-radius: 2em;
}
.dropdown-caret{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}

/* Box */
.box-head{
    display: flex;
    justify-content: space-between;
    color: #586069;
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    margin-top: 16px;
    padding: 16px 10px;
    border-radius: 6px 6px 0 0;
}
@media screen and (min-width: 768px){
    .box-head{
        padding: 16px;
    }
}
.box-head-blue{
    background-color: #f1f8ff;
    border-color: #c8e1ff;
}
.box-head-info{
    display: flex;
    align-items: center;
}
.box-head-info .box-head-avatar{
    margin-right: 8px;
}
.box-head-avatar{
    max-width: 22px;
}
.box-head-avatar,
.box-head-avatar img{
    border-radius: 50%;
}
.box-head-archive{
    font-size: 12px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}
.box-head-archive .file-info-divider{
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
    background-color: #ddd;
}
.box-head strong{
    color: #24292e;
}
.box-head-ellipsis{
    color: #444d56;
    display: inline-block;
    height: 12px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 6px;
    vertical-align: middle;
    background-color: #dfe2e5;
}
.box-head-actions{
    display: none;
}
@media screen and (min-width: 768px){
    .box-head-actions{
        display: flex;
    }
}
.box-head-actions > div{
    margin-left: .5em;
}
.box-body{
    border: 1px solid #e1e4e8;
    border-top: none;
    border-radius: 0 0 6px 6px;
    margin-bottom: 16px;
}

/* Header */
.header-wrapper a,
.header-wrapper{
    color: #fff;
    background-color: #24292e;
    text-decoration: none;
}
.header-wrapper a:hover{
    opacity: .75;
}
.header{
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    max-width: 1280px;
    margin: auto;
}
.header-left{
    display: flex;
    align-items: center;
}
.header .header-menu{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 768px){
    .header .header-menu{
        display: flex;
        flex-shrink: 0;
        max-width: 531px;
        overflow-x: auto;
    }
    .header .header-menu > li{
        flex-shrink: 0;
        margin: 1em 0 1em 1em;
    }
}
.header .btn{
    color: #fff;
    border-color: #fff;
    background-color: #24292e;
    vertical-align: baseline;
}
.header .btn:hover{
    background-color: #24292e;
}
.icon-chevon-down-mktg{
    top: -2px;
    width: 12px;
    stroke: hsla(0,0%,100%,.5);
    background: transparent;
}

/* Page Head */
.pagehead{
    background-color: #fafbfc;
}
.pagehead .octicon{
    color: #959da5;
}
.pagehead .btn{
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
}
.pagehead-repo{
    margin: 0 10px;
}
@media screen and (min-width: 768px){
    .pagehead-repo{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 32px;
    }
}
.pagehead-repo-info{
    font-size: 20px;
    font-weight: 400;
    padding: 16px 0;
}
.pagehead-repo-info .octicon{
    vertical-align: middle;
}
.pagehead-repo-actions > div{
    display: inline-block;
    margin: 0 0 8px 0;
}
@media screen and (min-width: 768px){
    .pagehead-repo-actions{
        margin: 16px 0;
    }
    .pagehead-repo-actions > div{
        margin: 0;
    }
}
.pagehead-repo-actions > div{
    margin-right: 8px;
}
.pagehead-repo-actions > div:last-child{
    margin-right: 0;
}
@media screen and (max-width: 415px){
    .pagehead-repo-actions .octicon{
        vertical-align: -4px;
    }
    .pagehead-repo-actions .btn{
        font-size: 10px;
    }
}
@media screen and (max-width: 385px){
    .pagehead-repo-actions .octicon{
        vertical-align: -5px;
    }
    .pagehead-repo-actions .btn{
        font-size: 8px;
    }
}
.pagehead-nav{
    display: flex;
    margin: 0 10px;
    overflow-x: auto;
}
@media screen and (min-width: 768px){
    .pagehead-nav{
        margin: 0 32px;
    }
}
.pagehead-nav-item{
    flex-shrink: 0;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 30px;
    color: #1b1f23;
    border: 0;
    border-bottom: 2px solid rgba(209,213,218,0);
    transition: border-bottom-color .36s ease-in;
}
.pagehead-nav-item a{
    display: inline-block;
    color: #1b1f23;
}
.pagehead-nav-item a:hover{
    display: inherit;
    transform-origin: center center;
    animation-name: shake-little;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.pagehead-nav-item:hover{
    border-bottom-color: #d1d5da;
    outline: 1px dotted transparent;
    outline-offset: -1px;
    transition-timing-function: ease-out;
    transition-duration: .12s;
}
.pagehead-nav-item-active{
    font-weight: 600;
    border-bottom-color: #f9826c;
    outline: 1px dotted transparent;
    outline-offset: -1px;
}
.pagehead-nav-item-active:hover{
    border-bottom-color: #f9826c;
}

/* File Nav */
.file-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    overflow-x: auto;
}
@media screen and (min-width: 768px){
    .file-nav{
        overflow-x: hidden;
    }
    .file-nav-info{
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }
}
.file-nav .btn{
    margin-left: 8px;
}
.file-nav .btn:first-child{
    margin-left: 0;
}
.file-nav .branch-btn,
.file-nav .btn,
.file-nav-filename{
    margin-top: 16px;
}
.file-nav .branch-btn .btn{
    margin-top: 0;
}
.file-nav-info .branch-btn{
    margin-right: 8px;
}
.file-nav-filename{
    font-weight: 600;
}
@media screen and (min-width: 768px){
    .file-nav-filename{
        font-weight: normal;
    }
}
.file-nav-actions{
    display: none;
}
@media screen and (min-width: 768px){
    .file-nav-actions{
        display: block;
        flex-shrink: 0;
    }
}
.file-nav .btn:first-child{
    margin-left: 0;
}

/* Branch Button */
#branch-btn-panel{
    display: none;
    font-size: 12px;
    position: absolute;
    min-width: 300px;
    z-index: 10;
}
#branch-btn-panel .branch-btn-mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#branch-btn-panel .box-head{
    color: #000;
    background-color: #fff;
    font-weight: 600;
    margin-top: 8px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#branch-btn-panel .box-body{
    position: relative;
    background-color: #fff;
    margin-bottom: 0;
}
#branch-btn-panel .box-head .octicon{
    cursor: pointer;
    color: #959da5;
}
#branch-btn-panel .box-head .octicon:hover{
    color: #000;
}
#branch-btn-btns{
    box-shadow: inset 0 -1px 0 #eaecef;
    padding: 8px 8px 0;
}
#branch-btn-btns .btn{
    margin: 0;
    border: 1px solid #fff;
    border-bottom: 0;
}
#branch-btn-btns .btn:hover{
    background-color: inherit;
}
#branch-btn-btns .btn.active{
    border-color: #eaecef;
    border-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 0;
    box-shadow: inset 0 -1px 0 #fff;
}
#branch-btn-b-list,
#branch-btn-t-list{
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#branch-btn-b-list .font-16,
#branch-btn-t-list .font-16{
    font-size: 16px;
    line-height: 12px;
}
#branch-btn-b-list.active,
#branch-btn-t-list.active{
    display: block;
}
#branch-btn-b-list li,
#branch-btn-t-list li{
    display: flex;
    padding: 8px;
    border-bottom: 1px solid rgba(27, 31, 35, .15);
}
#branch-btn-b-list li:last-child,
#branch-btn-t-list li:last-child{
    border-radius: 0 0 6px 6px;
}
#branch-btn-b-list li:hover,
#branch-btn-t-list li:hover{
    background-color: #f6f8fa;
}
#branch-btn-b-list li.active,
#branch-btn-t-list li.active{
    color: #000 !important;
    font-weight: 600;
}
#branch-btn-b-list li > *,
#branch-btn-t-list li > *{
    padding-left: 8px;
}
#branch-btn-b-list li:last-child,
#branch-btn-t-list li:last-child{
    border-bottom: 0;
}
#branch-btn-b-list a,
#branch-btn-t-list a{
    color: #1b1f23;
}

/* Container */
.container-wrapper{
    margin: auto;
    padding: 0 10px;
    max-width: 1280px;
}
@media screen and (min-width: 768px){
    .container{
        margin: 0 32px;
    }
}
.file-nav .octicon,
.branch-title a,
.branch{
    color: #586069;
}

/* Footer */
.footer{
    margin: 32px auto 0;
    padding: 40px 10px;
    border-top: 1px solid #e1e4e8;
    max-width: 1280px;
}
.footer .copyright,
.footer .contact{
    color: #999;
    font-size: 14px;
}
.powered-by{
    color: #999;
    text-align: right;
}

/* Archives */
.contrib-list,
.archives-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contrib-list,
.archives-list a,
.archives-list{
    color: #586069;
}
.archives-list .archive-content a,
.archives-list a:hover{
    color: #0366d6;
}
.archives-item{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e1e4e8;
    padding: 8px 16px;
}
.archives-item:first-child{
    border-top: none;
}
.archives-item:last-child{
    border-radius: 0 0 6px 6px;
}
.archives-item:hover{
    background-color: #f6f8fa;
}
.contrib-item{
    position: relative;
    display: flex;
}
.contrib-item:first-child{
    padding-top: 16px;
}
.contrib-item:last-child{
    padding-bottom: 16px;
}
.contrib-item::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 18px;
    display: block;
    width: 2px;
    content: "";
    background-color: #eaecef;
}
.contrib-title{
    margin: 8px 0;
}
.contrib-month{
    position: relative;
}
.contrib-month-title{
    position: relative;
    display: inline-block;
    color: #000;
    background-color: #fff;
    font-weight: 600;
    padding: 1px 8px 2px 0;
}
.contrib-month-topline::before{
    position: absolute;
    top: 11px;
    right: 0;
    left: 0;
    height: 1px;
    content: "";
    background-color: #eaecef;
}
.contrib-archive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.contrib-archive{
    padding: 8px 0;
}
.contrib-archive:hover .contrib-archive-title,
.contrib-archive:hover .contrib-archive-desc > span{
    font-weight: 600;
}
.contrib-tweet{
    flex-grow: 1;
}
.contrib-tweet-title{
    font-weight: 600;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px){
    .contrib-archive{
        padding: 0;
    }
}
.contrib-archive-info,
.archives-item-info{
    display: flex;
    flex-grow: 1;
}
.archives-coticon-blue{
    color: #79b8ff;
}
.archives-coticon-orange{
    color: #f9826c;
}
.archives-info-title{
    margin-left: 16px;
}
.contrib-archive-date,
.contrib-archive-desc,
.contrib-archive-title,
.archives-item-date,
.archives-info-desc,
.archives-info-title{
    line-height: 1.5em;
    height: 1.5em;
    overflow: hidden;
}
.contrib-archive-date,
.contrib-archive-desc,
.archives-item-date,
.archives-info-desc{
    display: none;
    flex-shrink: 0;
    margin-left: 8px;
}
.contrib-tweet-short a,
.contrib-archive-desc a,
.contrib-archive-desc,
.archives-info-desc a,
.archives-info-desc{
    color: #959da5;
}
.contrib-archive-desc *,
.archives-info-desc *{
    display: inline;
}
@media screen and (min-width: 768px){
    .archives-info-title{
        width: 33%;
    }
    .contrib-archive-desc,
    .archives-item-date,
    .archives-info-desc{
        display: block;
        max-width: 55%;
    }
    .contrib-archive-info{
        flex-grow: 1;
        flex-shrink: 1;
    }
    .contrib-archive-desc{
        max-width: 60%;
    }
}
.contrib-tweet-badge,
.contrib-archive-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: 1px solid #fff;
    margin: 4px 8px 4px 6px;
    background-color: #eaecef;
    border-radius: 50%;
}
.contrib-tweet-badge{
    margin-top: 26px;
}
.contrib-tweet-badge-placeholder,
.contrib-archive-badge-placeholder{
    width: 26px;
    min-width: 26px;
    height: 26px;
    margin: 4px 8px 4px 6px;
}

/* Archive */
.archive-content-wrapper{
    padding: 20px 10px;
}
@media screen and (min-width: 768px){
    .archive-content-wrapper{
        padding: 40px;
    }
}
.archive-content-wrapper > *:first-child{
    margin-top: 0;
    padding-top: 0;
}
.archive-content{
    margin: auto;
    max-width: 980px;
}
#archive-toc{
    display: none;
    max-width: 980px;
    margin: 0 auto 1em;
}

/* H Counter */
.archive-content h1 {
    counter-increment: h1Counter;
    counter-reset: h2Counter;
}
.archive-content h1:before {
    content: counter(h1Counter) '. ';
}
.archive-content h2 {
    counter-increment: h2Counter;
    counter-reset: h3Counter;
}
.archive-content h2:before {
    content: counter(h1Counter) '.' counter(h2Counter) ' ';
}
.archive-content h3 {
    counter-increment: h3Counter;
}
.archive-content h3:before {
    content: counter(h1Counter) '.' counter(h2Counter) '.' counter(h3Counter) ' ';
}

/* Markdown */
.markdown-body img{
    background-color: rgba(255, 255, 255, 0);
}
.markdown-body li,
.markdown-body p{
    line-height: 1.8em;
}
.markdown-body .highlight pre,
.markdown-body pre{
    padding: 0;
    color: #bbb;
    background: #181818;
}
.markdown-body .highlight pre > code,
.markdown-body pre > code{
    display: block;
    padding: 1em;
    color: #bbb;
    background: #181818;
}

/* Highlight.js */
.hljs-comment, .hljs-quote {
    color: #A80;
}

/* KaTeX */
.katex{
    overflow: auto hidden;
}
